@import '~imports.scss';

.dashboard {
    width: 100%;

    .grid-layout {

        app-header { grid-area: header; }
        app-donated { grid-area: donated; }
        app-visitors-chart { grid-area: visitors; }
        app-live-comments { grid-area: live-comments; }
        app-donatations-chart { grid-area: donations-chart; }
        app-likes-chart { grid-area: likes-chart; }
        .screen-warning { grid-area: screen-warning }

        display: grid !important;
        grid-template-areas:
            'header header header'
            'donated visitors visitors'
            'live-comments likes-chart likes-chart'
            'live-comments donations-chart donations-chart';
        grid-gap: 10px;
        padding: 8px;
        overflow: hidden;
        position: relative;

        mat-card {
            overflow: hidden;
            border-radius: 5px;
        }

        .screen-warning {
            display: none;
        }

        @include breakpoint(desktop) {
            grid-template-areas:
                'header header header'
                'donated visitors visitors'
                'live-comments likes-chart donations-chart';
        }

        @include breakpoint(laptoponly) {
            grid-template-areas:
                'header'
                'donated'
                'visitors'
                'live-comments'
                'likes-chart'
                'donations-chart';
        }

        @include breakpoint(tinyonly) {
            grid-template-areas:
                'header'
                'donated'
                'live-comments'
                'screen-warning';

            .screen-warning {
                display: initial;
            }

            app-visitors-chart,
            app-donations-chart,
            app-likes-chart {
                display: none;
            }
        }
    }
}
