<mat-card class="partial" id="partial_2">
  <div class="column left">
      <img mat-card-image src="../../assets/images/home/dashboard/dashboard_v3.svg">
  </div>
  <div class="column right">
      <mat-card-title>
          Bekijk je dashboard met relevante informatie voor <b>jou</b>
      </mat-card-title>
      <mat-card-content>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </mat-card-content>
  </div>
</mat-card>
