@import '~imports.scss';
@import '../dashboard.component.scss';

.header {
    width: 100%;

    .grid-layout {
        .welcome-message { grid-area: welcome-message; }
        .page-select { grid-area: page-select; }
        app-progress-bar { grid-area: progress-bar; }
        .divider { grid-area: divider; }

        display: grid;
        grid-template-areas:
            'welcome-message welcome-message welcome-message page-select'
            'progress-bar progress-bar progress-bar progress-bar'
            'divider divider divider divider';
        grid-gap: 10px;
        position: relative;

        .welcome-message {
            font-size: 2.5em;
            font-style: italic;
            color: $primary;
            margin: 20px;
        }

        .page-select {
            width: 80%;
            margin: 0 10%;

            .page-buttons {
                display: block;
    
                .dashboard-button {
                    img {
                        width: 50px;
                        height: 50px;
                        color: $primary;
                        border-radius: 100%;
                        background-color: white;
                    }
                }
            }
        }

        @include breakpoint(mobileonly) {
            grid-template-areas:
                'welcome-message'
                'page-select'
                'progress-bar'
                'divider';

            .page-select {
                width: 90%;
                margin: 0 5%;

                .page-buttons {
                    display: inline-block;
                }
            }
        }
    }
}
