<div class="partial">
  <div class="column left" fxLayout="column">
    <p id="title">Goedemorgen Koen!</p>
    <app-progress-bar></app-progress-bar>
  </div>
  <div class="column right" fxLayout="column">
    <mat-form-field>
      <mat-select placeholder="Pagina">
        <mat-option *ngFor="let page of pages" [value]="page">
          {{ page }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="page-buttons">
      <button mat-button class="dashboard-button">
        <img src="{{ images }}/view.svg" alt="Bekijk eventpagina"></button>
      <button mat-button class="dashboard-button">
        <img src="{{ images }}/edit.svg" alt="Bewerk eventpagina"></button>
    </div>
  </div>
</div>
