@import '../default.scss';

.partial {
    .left {
        h2 {
            margin-top: 100px;
            width: 250px;
            color: white;
            font-style: italic;
        }

        a {
            margin-top: 30%;
            font-size: 2.5em;
            padding: 15px;
            border-radius: 15px;
        }
    }

    .right {
        img {
            width: 80%;
            min-width: 200px;
            max-width: 300px;
        }
    }
}
