<div class="partial" id="partial_1">
    <app-gradient></app-gradient>
    <div class="column left" fxLayout="column">
        <h2 style="font-style: italic;">"De nieuwe social media tool voor <b>jouw</b> goede doelen."</h2>
        <a appRoundedButton mat-raised-button color="accent" style="margin-top: 40%">
            <h1 fxHide.lt-sm="true">Meld je nu aan!</h1>
        </a>
    </div>
    <div class="column right" fxLayout="column">
        <div>
            <img style="width: 80%; min-width: 200px; max-width: 500px;" src="../../assets/images/home/hero/iphone_chat_v3.svg"/>
        </div>
    </div>
</div>
