@import '~imports.scss';

.nav {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .logo_container {
    height: 100%;
    overflow: hidden;

    mat-icon {
      margin: 0;
      min-width: 150px;
      height: 100%;
    }

    .logo_text {
      display: block;
    }
   
    .logo_no_text {
      display: none;
    }
  }

  // Show a logo without text on mobile devices
  @include breakpoint(mobileonly) {
    .logo_text {
      display: none;
    }

    .logo_no_text {
      display: block;
    }
  }

  .buttons {

    .mat-raised-button {
      color: $primary;
      overflow: hidden;
      margin: 0 10px;
    }

    #user-button {
      min-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      padding: 0;
    }
  }
  
  mat-toolbar {
    margin-bottom: 7px;
    box-shadow: 1px 1px 7px #bcbcbc;
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);

    .mat-button {
      color: $primary;
    }

    .mat-raised-button {
      color: white;
      background-color: transparent;
      stroke: 5px solid black;
    }
  }

  mat-sidenav {
    padding: 0 5px;
    background-color: $background-color;

    .buttons {

      button {
        display: block;
      margin: 5px;
      } 
    }
  }

  mat-sidenav-content {
    .body-content {
      // reserve 50px for the navigation and 220px for the footer
      min-height: calc(100vh - 270px);
    }
  }
}


// Themes

.default {
  mat-toolbar {
    background-color: white;
  }

  .body-content {
    background-color: $background-color;
  }
}

.registration {
  background-color: $primary;
}

.event {
  background-color: $primary; 
}

.homepage {
  mat-toolbar {
    background-color: $primary;
    margin-bottom: 0;

    .mat-button {
      color: white;
    }

    .mat-raised-button {
      color: black;
      background-color: white;
    }
  }

  .body-content {
    background-color: transparent;
  }
}
