<div class="nav" style="height: 100vh;">
    <mat-toolbar color="primary">
        <!-- TODO: Make bigger -->
        <a class="logo" href="/" mat-button>
            <!-- <mat-icon class="logo" svgIcon="logo" fxShow="true" fxHide.lt-sm="true"></mat-icon> -->
            <p mat-title fxShow="true" fxHide.lt-sm="true">Goede Doelen Helpen</p>
            <!-- Show a logo without text on mobile devices -->
            <mat-icon class="logo logo_mobile" svgIcon="logo_text" fxShow="true" fxHide.gt-xs="true"></mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <div fxShow="true" fxHide.lt-sm="true">
            <button routerLink="{{ button_1.link }}" mat-button>{{ button_1.text }}</button>
            <button routerLink="{{ button_2.link }}" mat-button>{{ button_2.text }}</button>
            <button routerLink="{{ button_3.link }}" mat-button>{{ button_3.text }}</button>
            <button routerLink="{{ button_4.link }}" mat-raised-button >{{ button_4.text }}</button>
        </div>
        <div fxShow="true" fxHide.gt-xs="true">
            <a href="#" (click)="sidenav.toggle()" mat-button>
                <mat-icon>menu</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <!-- If on a small screen, change menu -->
    <mat-sidenav-container fxFlexFill class="sidenav-container">
        <mat-sidenav align="end" #sidenav fxLayout="column">
            <div fxLayout="column">
                <a (click)="sidenav.toggle()" href="#" mat-button>
                    <mat-icon>close</mat-icon>
                </a>
                <mat-divider></mat-divider>
                <button mat-button routerLink="/" >{{ button_1.text }}</button>
                <button routerLink="/" mat-button>{{ button_2.text }}</button>
                <button routerLink="/" mat-button>{{ button_3.text }}</button>
                <button routerLink="/" mat-raised-button >{{ button_4.text }}</button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <!-- For exceptionally small screen sizes, we give a warning
            <mat-card class="exceptionally-small-screen">
                <mat-card-title>
                    Small screen size
                </mat-card-title>
                <mat-card-content>
                    Due to your exceptionally small screen, we can't guarentee the website will work for your device.
                </mat-card-content>
            </mat-card> -->

            <!-- Page content goes here -->
            <div class='body-content' id='content'>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>