.nav {
  width: 100vw;
}

.fill-remaining-space {
   flex: 1 1 auto;
}

.body-content {
  /* padding: 5px; */
  /* padding-top: 15px; */
}

mat-sidenav {
  padding: 0 5px;
}

.logo {
  margin: 0;
  height: 64px;
}

.logo p {
  margin-top: 5px;
  font-size: 2vw;
}

.logo_mobile {
  width: 100%;
  margin-top: 5px;
  height: 56px;
}
