<div class="nav" [ngClass]="theme">
    <mat-toolbar>
        <a class="logo_container" (click)="toHome()" mat-button>
            <mat-icon class="logo_text" svgIcon="logo_text"></mat-icon>
            <mat-icon class="logo_no_text" svgIcon="logo"></mat-icon>
        </a>
        <span class="fill-remaining-space"></span>
        <div class="buttons" fxShow="true" fxHide.lt-sm="true">
            <button routerLink="{{ button_1.link }}" mat-button>{{ button_1.text }}</button>
            <button routerLink="{{ button_2.link }}" mat-button>{{ button_2.text }}</button>
            <button routerLink="{{ button_3.link }}" mat-button>{{ button_3.text }}</button>
            <button *ngIf="!(user_logedIn | async)" routerLink="{{ button_4.link }}"  mat-raised-button id="login-button">{{ button_4.text }}</button>
            <button mat-raised-button *ngIf="user_logedIn | async" id="user-button">{{ username_abbreviation | async }}</button>
        </div>
        <div fxShow="true" fxHide.gt-xs="true">
            <a href="#" (click)="sidenav.toggle()" mat-button>
                <mat-icon>menu</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <!-- If on a small screen, change menu -->
    <mat-sidenav-container fxFlexFill class="sidenav-container">
        <mat-sidenav align="end" #sidenav fxLayout="column">
            <div fxLayout="column">
                <a (click)="sidenav.toggle()" href="#" mat-button>
                    <mat-icon>close</mat-icon>
                </a>
                <mat-divider></mat-divider>
                <div class="buttons">
                    <button mat-raised-button id="user-button" id="user-button">{{ username_abbreviation }}</button>
                    <button routerLink="{{ button_4.link }}" mat-raised-button id="login-button">{{ button_4.text }}</button>
                    <button routerLink="{{ button_1.link }}" mat-button>{{ button_1.text }}</button>
                    <button routerLink="{{ button_2.link }}" mat-button>{{ button_2.text }}</button>
                    <button routerLink="{{ button_3.link }}" mat-button>{{ button_3.text }}</button>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <div class='body-content' id='content'>
                <router-outlet></router-outlet>
            </div>
            <app-site-map></app-site-map>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>