@import '~imports.scss';

.partial {
    display: flex;
    overflow: hidden;
    position: relative;

    @include breakpoint(mobileonly) {
        display: block;
    }
}

.column {
    padding: 5%;
}

.left {
    flex: 0 0 50%;
    padding-top: 5%;

    @include breakpoint(mobileonly) {
        flex: 0 0 100%;
    }
}

.right {
    flex: 1;
}
