<!-- Password Reset -->
<form (submit)="onSubmitPasswordReset()" [formGroup]="passwordResetGroup">
  <mat-form-field fxFlexFill>
    <input type="email" matInput placeholder="email" formControlName="email">
    <mat-error *ngIf="emailC.hasError('email') && !emailC.hasError('required')">
      Dit is geen gelidig e-mailadress
    </mat-error>
    <mat-error *ngIf="emailC.hasError('required')">
      e-mail is <strong>verplicht</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <input type="password" matInput placeholder="Wachtwoord" formControlName="password">
    <mat-error *ngIf="passwordC.hasError('length') && !passwordC.hasError('required')">
      Wachtwoord moet minimaal <strong>6</strong> karakters bevatten
    </mat-error>
    <mat-error *ngIf="passwordC.hasError('required')">
      Wachtwoord is <strong>verplicht</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <input type="password" matInput placeholder="Wachtwoord herhalen" formControlName="passwordRepeat">
    <mat-error *ngIf="passwordRepeatC.hasError('length') && !passwordRepeatC.hasError('required')">
      Wachtwoord moet minimaal <strong>6</strong> karakters bevatten
    </mat-error>
    <mat-error *ngIf="passwordRepeatC.hasError('required')">
      Wachtwoord is <strong>verplicht</strong>
    </mat-error>
  </mat-form-field>
  <input type="submit" value="reset" />
</form>