@import '../dashboard.component.scss';

.partial {
    display: block;
    padding: 2em;
    height: 100%;

    .title {
        font-size: 1.5em;
        color: black;
    }

    .amount {
        font-size: 2.5em;
        font-weight: bold;
        color: $primary;
    }
}
