<div class="partial" id="partial_3">
  <app-gradient></app-gradient>
  <div class="column left" fxLayout="column">
    <h2 style="font-style: italic;">Hoe kan Goede Doelen Helpen <b>jou</b> ondersteunen?</h2>
    <div class="selling-point-bubble" id="two">
      <img src="{{images}}/samenwerken_bubbel.svg"/>
      <p>Werk samen naar een doel</p>
    </div>
  </div>
  <div class="column right" fxLayout="column">
    <div class="selling-point-bubble" id="one">
      <img src="{{images}}/netwerk_bubbel.svg"/>
      <p>Verbreed je netwerk</p>
    </div>
    <div class="selling-point-bubble" id="three">
      <img src="{{images}}/geld_bubbel.svg"/>
      <p>Behaal gemakkelijk je doel</p>
    </div>
  </div>
</div>
