<div class="bubblewrapper">
  <div class="bubblecontainer">
    <app-gradient [zindex]=0></app-gradient>
    <app-circles-generated></app-circles-generated>
  </div>
</div>
<div class="eventpagecontents">
  <div class="grid-layout">
    <app-user></app-user>
    <app-details></app-details>
    <app-donated></app-donated>
    <app-comments></app-comments>
    <app-charity></app-charity>
    <mat-card class="screen-warning">
        <mat-card-title>
            Scherm te klein
        </mat-card-title>
        <mat-card-content>
            Je scherm is te klein om deze pagina goed weer te geven.
            Bekijk de pagina op een apparaat met een groter scherm.
        </mat-card-content>
    </mat-card>
  </div>
</div>