<form fxLayout="column" (submit)="onSubmit()" class="register-form" [formGroup]="userLoginGroup">
  <mat-form-field fxFlexFill>
    <input type="email" matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="emailC.hasError('email') && !emailC.hasError('required')">
      Vul een geldig e-mailadres in.
    </mat-error>
    <mat-error *ngIf="emailC.hasError('required')">
      Email is <strong>verplicht</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field fxFlexFill>
    <input type="password" matInput placeholder="wachtwoord" formControlName="password">
    <mat-error *ngIf="passwordC.hasError('required')">
      Wachtwoord is <strong>verplicht</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="!userLoginGroup.valid" fxFlexFill role="submit" mat-raised-button color="primary">login</button>
  <p>{{message}}</p>
</form>
