/* You can add global styles to this file, and also import other style files */
@import './sass/mixins.scss';
@import './sass/theme/theme.scss';

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 200px;
    overflow: hidden;
}
