/* You can add global styles to this file, and also import other style files */
/* To compile and apply our custom sass theme file we've included it in the angular-cli.json file instead of here  */

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 200px;
    overflow: hidden;
}
