<div class="details">
  <div class="title">
    <p>{{ event.title }}</p>
    <div (click)="edit()" class="edit-icon">
      <button mat-raised-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="description">
    Ik help <a class="event-variable">{{ event.charity }}</a> omdat ik kinderen in Afrika een beter leven wil geven. Dit doe ik door <a class="event-variable">{{ event.title }}</a> te organiseren op <a class="event-variable">{{ toLocalDate(event.date) }}</a>! Hiervoor heb ik jouw hulp nodig! Via onderstaande knop kan je me helpen mijn doel te bereiken.
  </div>
  <div class="donate-button">
    <button mat-raised-button>
      Doneer nu!
    </button>
  </div>
</div>
