@import "../default.scss";

.user {
    width: 300px;
    text-align: center;

    .picture {
        width: 200px;
        height: 200px;
        border-color: white;
        border-style: solid;
        border-width: 5px;
        border-radius: 100%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        img {
            width: auto;
            height: 100%;
        }
    }

    .name {
        color: $primary;
        font-size: 1.5em;
        font-style: italic;
    }

    .info {
        color: grey;
        font-weight: bold;
    }
}
