@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  } 
}

body, app-root, .container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}
