@import '../default.scss';

.partial {
    .left {
        li {
            color: rgba(255,255,255,0.5);
            font-style: italic;
            font-size: 1.7em;
            margin-top: 20px;
        }

        .active {
            color: white;
        }
    }

    .right {
        img {
            width: 80%;
            min-width: 200px;
            max-width: 350px;
        }

        a {
            margin-top: 15%;
            margin-bottom: 20%;
            margin-left: -3%;
        }
    }
}
