@import '../../sass/theme/theme.scss';

.sitemap {
    background-color: #f1e9de;
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;

    .column {
        .left {
            flex: 0 0 30%;
        }

        .right {
            flex: 1;
        }
    }

    .colofon {
        margin: 0 10%;
        width: 20%;
        min-width: 200px;

        h3 {
            color: $primary-accent;
        }

        hr {
            color: black;
            width: 100%;
            margin-top: 0;
            border: 0;
            border-top: 2px solid $primary-accent;
        }

        p {
            line-height: 1.5px
        }
    }

    .links {
        padding-top: 5%;
        width: 60%;
        display: flex;

        .column {
            .left {
                flex: 0 0 20%;
            }

            .right {
                flex: 1;
            }
        }
    }
}
