@using GoedeDoelenHelpen.Models;
@model ResetPasswordMailModel;

<p>Hi @Model.Name,</p>

<p>via onderstaande mail kan je je wachtwoord herstellen</p>

<p><a href="@Model.CallbackURL">@Model.CallbackURL</a></p>

<p>Groeten,</p>

<p>GoedeDoelenHelpen.nl</p>


